<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Face</title>
    <link rel="stylesheet" href="{{url_for('static', filename='opr.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='icon.ico')}}">
</head>
<body>
    <div class="container">
        <div class="sub-container1">
            <h1>
                Add a new member 
            </h1>
        </div>
        <div class="sub-container2">
            <img src="{{url_for('add_face_videoFeed')}}">
        </div>
        <div class="sub-container3">
            <form method="post">
                <button><a href="{{url_for('result')}}">Add face</a></button>
                <button><a href="{{url_for('choose_opr')}}">Exit</a></button>
            </form>
        </div>
    </div>
    <footer>
        <p style="color:aliceblue; font-size: small;">Made with <span style="color:#ff1a1a">&#x2764;</span> & &#9749;</p>
    </footer>
</body>
</html>